#moon {
  margin: 0 25px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

#moon .in-turn-animation {
  position: absolute;
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  animation: InTurn 16s infinite linear;
}

#moon .in-turn-animation div {
  width: 36px;
  padding: 0 7px;
  line-height: 36px;
  font-size: 36px;
}

@keyframes InTurn {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  12% {
    opacity: 0;
    transform: translateX(-50px);
  }
  12.5% {
    opacity: 1;
    transform: translateX(-50px);
  }
  22.5% {
    opacity: 1;
    transform: translateX(-50px);
  }
  24.5% {
    opacity: 0;
    transform: translateX(-100px);
  }
  25% {
    opacity: 1;
    transform: translateX(-100px);
  }
  35% {
    opacity: 1;
    transform: translateX(-100px);
  }
  37% {
    opacity: 0;
    transform: translateX(-150px);
  }
  37.5% {
    opacity: 1;
    transform: translateX(-150px);
  }
  47.5% {
    opacity: 1;
    transform: translateX(-150px);
  }
  49.5% {
    opacity: 0;
    transform: translateX(-200px);
  }
  50% {
    opacity: 1;
    transform: translateX(-200px);
  }
  60% {
    opacity: 1;
    transform: translateX(-200px);
  }
  62% {
    opacity: 0;
    transform: translateX(-250px);
  }
  62.5% {
    opacity: 1;
    transform: translateX(-250px);
  }
  72.5% {
    opacity: 1;
    transform: translateX(-250px);
  }
  74.5% {
    opacity: 0;
    transform: translateX(-300px);
  }
  75% {
    opacity: 1;
    transform: translateX(-300px);
  }
  85% {
    opacity: 1;
    transform: translateX(-300px);
  }
  87% {
    opacity: 0;
    transform: translateX(-350px);
  }
  87.5% {
    opacity: 1;
    transform: translateX(-350px);
  }
  97.5% {
    opacity: 1;
    transform: translateX(-350px);
  }
  100% {
    opacity: 0;
    transform: translateX(-350px);
  }
}

sidebar > div {
  cursor: pointer;
}

sidebar > div:hover {
  transform: scale(1.25, 1.1) translateX(12%);
  background-color: #444;
}

.tab-current {
  border-left: 3px solid #fff;
}